# Mini Project_3

## 1. 신생아 이름 데이터를 이용하여 다음과 같은 분석을 진행하시오.
- 유명인, 성서에 등장하는 이름 등 외부 이름을 이용하여 이름 유행을 분석

- 각 연도별 가장 인기 있는 이름을 분석

- 다음 이름의 연도별 순위 조사(john, sophia, michael, daniel, carter)

- 각 연도별, 성별 상위 50% 이름을 구성하는 알파벳 문자 중, 자음과 모음의 비율 분석

- 가장 긴 이름과 가장 짧은 이름을 출력

- 시각화도 함께 ...

## 2. 영화 평점 데이터를 이용하여 영화 추천 시스템을 작성하시오
*입/출력 예시

당신의 아이디를 입력하시오? 1

당신과 가장 비슷한 영화를 본 고객 아이디는 7번 입니다.

당신과 가장 비슷한 장르를 가지고 있는 고객 아이디는 10번 입니다

당신에게 추천하는 영화는 xxxxx 입니다.

### *조건
- 비슷한 영화를 본 고객 아이디는 '공통적으로 본 영화'가 가장 많은 사람의 아이디입니다.
- 비슷한 장르를 가지고 있는 고객 아이디는 
1) 최소 2편 이상의 영화를 공통적으로 본 경우

2) 1)번 조건을 만족하는 모든 고객 중 가장 유사하게 평점을 부여한 고객으로 찾습니다.

3) 당신에게 추천하는(아직 본적 없는) 영화는 2)번 조건을 만족하는 고객이 가장 높게 평점을 준 영화입니다.





가장 기본적인 추천시스템. 다음번엔 머신러닝을 통해 제대로된 추천시스템 만들기.
가장 유사하게 평점을 부여 -> 유클리디안 거리 사용하기

In [1]:
# 문제 1번. 
import pandas as pd
pieces= []
for year in range(1880, 2011):
    path="C:/Users/student/Downloads/names/names/yob%d.txt" %year
    df=pd.read_csv(path, names=['name','sex','births'])
    df['year']=year
    pieces.append(df)

pieces
names=pd.concat(pieces, ignore_index=True)
names

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
...            ...  ..     ...   ...
1690779    Zymaire   M       5  2010
1690780     Zyonne   M       5  2010
1690781  Zyquarius   M       5  2010
1690782      Zyran   M       5  2010
1690783      Zzyzx   M       5  2010

[1690784 rows x 4 columns]

In [ ]:
# 유명인, 성서에 등장하는 이름 등 외부 이름을 
#이용하여 이름 유행을 분석 -> 시각화

In [85]:
#각 연도별 가장 인기 있는 이름 분석
y_b=names[['year','births']]
y_b

         year  births
0        1880    7065
1        1880    2604
2        1880    2003
3        1880    1939
4        1880    1746
...       ...     ...
1690779  2010       5
1690780  2010       5
1690781  2010       5
1690782  2010       5
1690783  2010       5

[1690784 rows x 2 columns]

In [82]:
names.groupby('year')['births'].max()
#names.groupby('year')['births'].
names.groupby(['year','name'])['births'].rank(method='max')
names.groupby(['year','name'])['births'].max()

year  name
1880  Aaron        102
      Ab             5
      Abbie         71
      Abbott         5
      Abby           6
                  ...
2010  Zyron          7
      Zyshawn        9
      Zytavious      6
      Zyyanna        6
      Zzyzx          5
Name: births, Length: 1540017, dtype: int64

In [133]:
new_one=names.groupby(['year'])['births'].max()
new_one

year
1880     9655
1881     8769
1882     9557
1883     8894
1884     9387
        ...
2006    24797
2007    24216
2008    22507
2009    22222
2010    22731
Name: births, Length: 131, dtype: int64

In [ ]:
def get_top1(group):
    return group.sort_values(by='births', ascending =False) [:1]


grouped=names.groupby(['year','name'])

top1=grouped.apply(get_top1)
top1

In [ ]:
names[names.year == 1880].sort_values(by='births', ascending=False)
k=names[names.year == 1881].sort_values(by='births', ascending=False)

# k.loc[1,'name']
# pop_name=[]
# for year in range(1880, 2011):
#     new_list=names[names['year'] == year].sort_values(by='births', ascending=False)
#     .loc[0,'name']

In [93]:
popular_name=names.pivot_table('births', index='name', columns='year', aggfunc=sum).max()
type(popular_name) #pandas.core.series.Series

print(popular_name)
# names.pivot_table('births', index='name', columns='year', aggfunc=sum).max()

year
1880     9701.0
1881     8795.0
1882     9597.0
1883     8934.0
1884     9427.0
         ...
2006    24834.0
2007    24250.0
2008    22536.0
2009    22248.0
2010    22761.0
Length: 131, dtype: float64

In [55]:
new=[]
for i in range(len(popular_name)):
    if popular_name[i] == names:
        new.append(popular_name)
        print(popular_name.index[i],popular_name.values[i])

KeyError: 0

In [43]:
(popular_name.index[0],popular_name.values[0])

(1880, 9701.0)

In [ ]:
for year in range(1880, 2011):
    names['name']

In [123]:
#다음 이름의 연도별 순위 조사(john, sophia, michael, daniel, carter)
['john', 'sophia', 'michael', 'daniel', 'carter']

KeyError: ('john', 'sophia', 'michael', 'daniel', 'carter')

In [11]:
#각 연도별, 성별 상위 50% 이름을 구성하는 알파벳 문자 중, 자음과 모음의 비율 분석

def add_prop(group):
    #births=group.births.sum()
    group['prop']=group.births/group.births.sum()
    return group
    #print(group.births)
names=names.groupby(['year','sex']).apply(add_prop)
print(names)


# def get_top1000(group):
#     return group.sort_index(by='births', ascending =False) [:1000]


# grouped=names.groupby(['year','sex'])

# top1000=grouped.apply(get_top1000)

# #그룹 인덱스 제거
# top1000.reset_index(inplace=True, drop=True)

# names.pivot_table('births', index='year',columns='sex', aggfunc=sum)
# df
prop_cumsum=names.sort_index(by='prop', ascending=False).prop.cumsum() 
prop_cumsum.values.searchsorted(0.5)

              name sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
4           Minnie   F    1746  1880  0.019188
...            ...  ..     ...   ...       ...
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

[1690784 rows x 5 columns]

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

5

In [139]:
k=names.pivot_table("births",index=["year"], columns="name",aggfunc=max)
k.dropna(axis=1)

name,Aaron,Abbie,Abe,Abel,Abigail,Abner,Abraham,Abram,Ada,Adam,...,Willis,Wilma,Wilmer,Wilson,Winifred,Winnie,Winona,Wyatt,Zack,Zoe
year,,,,,,,,,,,,,,,,,,,,,
1880,102.0,71.0,50.0,9.0,12.0,27.0,81.0,21.0,652.0,104.0,...,166.0,5.0,19.0,72.0,92.0,49.0,6.0,15.0,19.0,23.0
1881,94.0,81.0,36.0,12.0,8.0,30.0,86.0,30.0,628.0,116.0,...,142.0,10.0,11.0,73.0,81.0,84.0,11.0,14.0,25.0,22.0
1882,85.0,80.0,50.0,10.0,14.0,32.0,91.0,25.0,689.0,114.0,...,143.0,14.0,20.0,82.0,83.0,74.0,9.0,12.0,29.0,25.0
1883,105.0,79.0,43.0,12.0,11.0,27.0,52.0,20.0,778.0,107.0,...,131.0,18.0,15.0,67.0,125.0,62.0,10.0,6.0,28.0,23.0
1884,97.0,98.0,45.0,14.0,13.0,33.0,67.0,29.0,854.0,83.0,...,151.0,17.0,18.0,78.0,146.0,92.0,6.0,13.0,29.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,8279.0,440.0,44.0,922.0,15615.0,154.0,2200.0,414.0,397.0,6775.0,...,78.0,22.0,146.0,507.0,27.0,66.0,22.0,5826.0,198.0,5145.0
2007,8914.0,468.0,51.0,939.0,15447.0,171.0,2139.0,463.0,460.0,6770.0,...,80.0,24.0,172.0,473.0,23.0,100.0,25.0,6514.0,221.0,4925.0
2008,8511.0,400.0,49.0,863.0,15045.0,147.0,2143.0,477.0,520.0,6074.0,...,59.0,21.0,119.0,489.0,29.0,67.0,15.0,7292.0,236.0,4764.0
2009,7936.0,369.0,54.0,960.0,14342.0,150.0,2088.0,554.0,531.0,5649.0,...,65.0,29.0,134.0,487.0,38.0,88.0,16.0,7385.0,219.0,5120.0
2010,7374.0,324.0,53.0,1119.0,14124.0,162.0,1899.0,483.0,525.0,5062.0,...,51.0,27.0,124.0,422.0,21.0,75.0,20.0,7319.0,202.0,6200.0